@model IEnumerable<MyDevCard.Models.Project>
<thead>
@foreach (var project in Model)
{
    <div class="col-md-6 mb-5">
        <div class="card project-card">
            <div class="row no-gutters">
                <div class="col-lg-4 card-img-holder">
                    <img src="~/assets/images/project/project-4.jpg" class="card-img" alt="@project.Name" title="@project.Des">
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project.html" class="theme-link">Project
                                Heading</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. </p>
                        <p class="card-text"><small class="text-muted">Client: Uber</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</thead>
